@using CamPortal.Contracts.Dtos.PreprovisionAttemptDtos
@using CamPortal.Core.Services
@inject IDevicePreProvisionService _deviceProvisionService
@inject IConfiguration _configuration
@inject ISnackbar _snackbar
@implements IAsyncDisposable

@if (_IsAcknowledged)
{
    @if (!model.IsHandshakeCompleted)
    {
        <MudStack>
            <MudStack Row="true" Justify="Justify.SpaceBetween">
                <MudText Typo="Typo.h4">Upload credentials to the device</MudText>
                <MudTooltip Text="@(model.IsQRSupported ? "\n " : " ")"
                            Arrow="true"
                            Placement="Placement.Bottom">
                    <ChildContent>
                        <MudToggleGroup T="bool" SelectionMode="SelectionMode.SingleSelection" @bind-Value="_isQrDisplayed" Color="Color.Primary" FixedContent CheckMark="true">
                            @if (model.IsQRSupported)
                            {
                                <MudToggleItem SelectedIcon="@Icons.Material.Filled.QrCode2" UnselectedIcon="@Icons.Material.Filled.QrCode2" Value="true" Text="QR Code" />
                            }
                            <MudToggleItem SelectedIcon="@Icons.Material.Filled.Code" UnselectedIcon="@Icons.Material.Filled.Code" Value="false" Text="Raw Secrets" />
                        </MudToggleGroup>
                    </ChildContent>
                    <TooltipContent>
                        @if (model.IsQRSupported)
                        {
                            <MudText>You can choose either to upload the credentials with the QR Code</MudText>
                            <MudText>or upload the Raw Secrets to the firmware and flash the device.</MudText>
                        }
                        else
                        {
                            <MudText>QR code is only supported when</MudText>
                            <MudText>the device variant is Camera.</MudText>
                        }
                    </TooltipContent>
                </MudTooltip>
            </MudStack>
            <MudGrid>
                <MudItem lg="6">
                    @if (_isQrDisplayed)
                    {
                        <MudImage Style="margin: 0 auto; display:block; width: 45VH;" Src="@_generatedCredentials.QRCode"></MudImage>
                    }
                    else
                    {
                        <SecretsCodeBlock Model="_generatedCredentials"></SecretsCodeBlock>
                    }
                </MudItem>
                <MudItem lg="6">
                    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Style="height: 100%;">
                        <MudPaper Elevation="50" Outlined="true">
                            <MudStack Class="ma-5" Spacing="5" Justify="Justify.Center" AlignItems="AlignItems.Center">
                                @if (_isQrDisplayed)
                                {
                                    <MudAlert Severity="Severity.Info">Move the device approximately 50cm away from the screen.</MudAlert>
                                }
                                <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.Center">
                                    <MudText Typo="Typo.h5">Credentials are valid for:</MudText>
                                    <MudText Typo="Typo.h4" Color="Color.Error">@FormatTime(_elapsedSeconds)</MudText>
                                </MudStack>
                                <MudButton StartIcon="@Icons.Material.Filled.RestartAlt" Variant="Variant.Filled" Size="Size.Large" Color="Color.Error" OnClick="() => StartProvisioning()">Regenerate Credentials</MudButton>
                            </MudStack>
                        </MudPaper>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudStack>
    }
    else
    {
        <MudPaper Width="500px" Style="margin:0 auto">
            <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="5">
                <MudIcon Color="Color.Success" Icon="@Icons.Material.Filled.CheckCircle" Style="font-size: 10rem; margin:0 auto;"></MudIcon>
                <MudText Typo="Typo.h5">Credentials have been successfully uploaded.</MudText>
            </MudStack>
        </MudPaper>
    }
}
else
{
    <MudPaper Width="500px" Style="margin:0 auto">
        <MudStack>
            <MudIcon Color="Color.Error" Icon="@Icons.Material.Filled.Warning" Style="font-size: 10rem; margin:0 auto;"></MudIcon>
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" NoIcon="true" Class="my-2">
                <ul class="mb-0">
                    <li>This action will expose your server credentials to anyone who has access to the device during the pre-provisioning process.</li>
                    <li>Make sure you are in a secure environment and that you trust the people around you before proceeding.</li>
                    <li>Do not share your credentials with anyone.</li>
                    <li>These credentials will be valid for a short period, after that they will be invalidated.</li>
                </ul>
            </MudAlert>
            <MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Tertiary" OnClick="() => StartProvisioning()">Acknowledge</MudButton>
        </MudStack> 
    </MudPaper>    
}


@code {

    private bool _IsAcknowledged;
    private bool _isQrDisplayed;
    private PeriodicTimer? _timer;
    private PreprovisionDetailsDto _generatedCredentials=new();
    private int _elapsedSeconds;
    private int _preprovisionAttemptExpirationMinutes;

    [Parameter, EditorRequired]
    public PreprovisionDeviceModel model { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback ModelChanged { get; set; }

    protected override void OnInitialized()
    {
        _isQrDisplayed = model.IsQRSupported;

        _deviceProvisionService.SuccessfulVerification += OnSuccessfulVerification;

        _preprovisionAttemptExpirationMinutes = int.Parse(_configuration.GetSection("Preprovisioning")["AttemptExpirationMinutes"] ?? throw new ArgumentNullException("Preprovisioning:AttemptExpirationMinutes not configured"));

    }

    public async Task StartProvisioning()
    {
        if (_generatedCredentials.DeviceId==Guid.Empty)
        {
            var result = await _deviceProvisionService.StartPreprovisioningAsync(model);

            if (result==null)
            {
                _snackbar.Add($"Failed to start preprovisioning.", Severity.Error);
                return;
            }

            _generatedCredentials = result;
        }
        else
        {
            model.PreprovisionId = _generatedCredentials.PreprovisionId;
            var result = await _deviceProvisionService.StartPreprovisioningForExistingDeviceAsync(_generatedCredentials.DeviceId, model);
            
            if (result == null)
            {
                _snackbar.Add($"Failed to start preprovisioning for existing device.", Severity.Error);
                return;
            }

            _generatedCredentials = result;
        }


        _timer = new PeriodicTimer(TimeSpan.FromSeconds(1));
        _elapsedSeconds = _preprovisionAttemptExpirationMinutes * 60;

        _ = RunTimerAsync();

        _IsAcknowledged = true;
    }

    public async ValueTask DisposeAsync()
    {
        if (_timer != null)
        {
            _timer.Dispose();
        }

        _deviceProvisionService.SuccessfulVerification -= OnSuccessfulVerification;
    }

    private async Task RunTimerAsync()
    {
        try
        {
            while (await _timer!.WaitForNextTickAsync())
            {
                if (_elapsedSeconds<=0)
                {
                    _ = StartProvisioning();
                    break;
                }

                _elapsedSeconds--;
                await InvokeAsync(StateHasChanged);
            }
        }
        catch (OperationCanceledException)
        {
        }
    }

    private static string FormatTime(int totalSeconds)
    {
        var ts = TimeSpan.FromSeconds(totalSeconds);
        return ts.ToString(@"mm\:ss");
    }

    private void OnSuccessfulVerification(Guid deviceId)
    {
        if (_generatedCredentials.DeviceId == Guid.Empty || deviceId != _generatedCredentials.DeviceId)
        {
            return;
        }

        if (_timer != null)
        {
            _timer.Dispose();
        }

        _deviceProvisionService.SuccessfulVerification -= OnSuccessfulVerification;

        model.IsHandshakeCompleted = true;
    }
}
